<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ person.name }}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div class="container">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row center">
                <img class="responsive-img circle center-align" src="{{ person.image.url }}">
            </div>
            <h1 class="header center orange-text">{{ person.name }}</h1>
            <div class="row center">
                <h5 class="header light"><i class="material-icons">place</i>{{ person.location }}</h5>
            </div>
            <div class="row center">
                <h5 class="header col s12 light">{{ person.summary }}</h5>
            </div>
        </div>

        <ul class="collection with-header">
            <li class="collection-header"><h4>Projects</h4></li>
            {% for project in projects %}
                <li class="collection-item avatar">
                    {% if project.image.url %}
                        <img src="{{ project.image.url }}" alt="{{ project.image.summary }}" class="circle"/>
                    {% else %}
                        <i class="material-icons circle">folder</i>
                    {% endif %}
                    <span class="title"><a href="{{ project.url }}">{{ project.name }}</a></span>
                    <p>{{ project.summary | safe }}</p>
                    <span class="secondary-content">Last updated: {{ project.updated.strftime('%Y-%m-%d') }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
